*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color:white;
    /* overflow-x: hidden; */
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 70px;

}

nav {
    position: fixed;
    top: 0;
    height: 70px;
    width: 100%;
    background-color: cornflowerblue;
    z-index: 10;
}

.list-nav {
    background-color: cornflowerblue;
    height: 100%;
    width: 100%;
    color: white;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

.item-nav {
    display: flex;
    align-items: center;
}

.item-nav a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

.item-nav a::after {
    content:"";
    display: block;
    margin: 0 auto;
    width: 0%;
    height: 2px;
    background-color: black;
    transition: width 0.2s ease-in-out
}

.item-nav a:hover::after{
    width: 100%;
}



#move {
    height: 250px;
    width: 250px;
    overflow: auto;
  }

#content {
    height: 800px;
    width: 2000px;
    background-color: coral;
  }

.bestmovie {
    display: flex;
    justify-content: center;
    color: black;
}

.box{
    display: flex;
    justify-content: center;
}

#container{
    display: flex;
    justify-content: center;
    width: 600px;
    align-items: center;
    overflow: hidden;
} 

.category {
    display: flex;
    justify-content: center;
    /* overflow-x: auto; */
    width: 500%;
    /* left: -20%; */
    color: black;
    overflow:visible;
}

.movieCard {
    width: 200px;
    min-width: 200px;
    height: 300px;

    /* overflow: hidden; */
}
h1 {
    display: flex;
    justify-content: center;
}

ul li {
    list-style-type: square;
    margin-left: 30px;
}


.category_title {
    display: flex;
    justify-content: space-evenly;
    color: black;
}

#modal{
    position: fixed;
    display: none;
    width: 100%;    
    height: 100%;
    justify-content: center;
    /* vertical-align: middle; */
    align-items: center;
}

#modal-test{
    display: flex;
    /* justify-content: center; */
    background-color: darkkhaki;
    opacity: 0.9;
    top: 50%;
    left: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
}
/* to delete */
.test-container{
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
}

#container {
    overflow: hidden;
}
#xavier{
    width: 5000px;
    height: 100px;
    background-color: chartreuse;
}