
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}


*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color:white;
    font-family: Nunito sans, sans-serif;
    padding-top: 70px;
}

img {
    border-radius: 5px;
    margin: 10px;
}

h1, h2 {
    @include flex-center();
    font-size: 1.2em;
}

button:hover{
    background-color: slategrey;
}

ul li{
    list-style-type: square;
    margin-left: 20px;
}

nav {
    position: fixed;
    top: 0;
    height: 70px;
    background-color:silver;
    width: 100%;
    z-index: 10;

    ul {
        height: 100%;
        width: 100%;
        list-style-type: none;
        display: flex;
        justify-content: space-evenly;

        li {
            @include flex-center();

            a {
                text-decoration: none;
                text-transform: uppercase;
                color:seashell;
                font-size: larger;

                &::after{
                    content:"";
                    display: block;
                    margin: 0 auto;
                    background-color: seashell;
                    width: 0%;
                    height: 2px;
                    transition: width 0.2s ease-in-out
                    }
                &:hover::after{
                        width: 100%;
                        color: black;
                    }
                } 
            }
        }
    }


#modal{
    position: absolute;
    justify-content: center;
    align-items: center;
    display: none;
    width: 100%;    
    height: 100%;
    z-index: 1000;

    #container__modal{
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70%;
        background-color:linen;
        opacity: 0.95;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.container{
    @include flex-center();

    &__bestmovie{
        position: relative;
        background-color: white;
        margin: 10px;
        width: 1010px;

        &__media{
            @include flex-center();
            }
        }

    &__btn {
        @include flex-center();
        font-size: larger;
        font-weight:bolder;
        width: 30px;
        height: 30px;
        cursor: pointer;
        background: silver;
        color: seashell;
        border: none;
        padding: 8px;
        border-radius: 50%;
        outline: 0;
        }
    
    &__category{
        display: flex;
        width: 1010px;
        overflow: hidden;
        scroll-behavior: smooth;    
        
        &__carroussel{
            @include flex-center();
            width: 500%;
            }
        }    
    }

.movieCard {
    opacity: 0.8;
    
    &:hover{
        opacity: 1;
        transform: translateY(-2px);
        cursor: pointer;
    }
}

#btnInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 70px;
    top: 250px;
    width: 60px;
    height: 25px;
    cursor: pointer;
    background: silver;
    color: white;
    border:black;
    padding: 8px;
    border-radius: 5px;
}


@media (max-width: 1070px) {
    .container__category {
        width: 800px;
    }

    .container__bestmovie {
        width: 800px;
    }
}

@media (max-width: 870px) {
    .container__category {
        width: 600px;
    }

    .container__bestmovie {
        width: 600px;
    }
}

@media (max-width: 425px) {
    
    nav{
        font-size: 12px;
    }
    
    .container__category {
        width: 200px;
    }

    .container__bestmovie {
        width: 200px;
    }

    #vimeo{
        display: none;
    }

    .container__modal__img{
        display: none;
    }

    h1{
        font-size: smaller;
    }
}